[mysqld]
open-files-limit=1024
local-infile
default-character-set=latin1
connect-timeout=60
log-bin-trust-function-creators=1
key_buffer_size=1M
sort_buffer=256K
max_heap_table_size=1M
loose-innodb_data_file_path=ibdata1:10M:autoextend
slave-net-timeout=120
log-bin=mysqld-bin

[mysqld.1]
#!run-master-sh
log-bin=master-bin
basedir=/usr/local/mysql-5.1.48-osx10.6-x86_64
tmpdir=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1
character-sets-dir=/usr/local/mysql-5.1.48-osx10.6-x86_64/share/charsets
language=/usr/local/mysql-5.1.48-osx10.6-x86_64/share/english
datadir=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/mysqld.1/data
pid-file=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/run/mysqld.1.pid
#host=localhost
port=13000
socket=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1.sock
#log-error=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/log/mysqld.1.err
general_log=1
general_log_file=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/mysqld.1/mysqld.log
slow_query_log=1
slow_query_log_file=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/mysqld.1/mysqld-slow.log
#user=root
#password=
server-id=1
secure-file-priv=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var
ssl-ca=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/cacert.pem
ssl-cert=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/server-cert.pem
ssl-key=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/server-key.pem

[mysqlbinlog]
disable-force-if-open
character-sets-dir=/usr/local/mysql-5.1.48-osx10.6-x86_64/share/charsets

[mysql_fix_privilege_tables]
socket=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1.sock
port=13000
user=root
password=

[ENV]
MASTER_MYPORT=13000
MASTER_MYSOCK=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1.sock

[mysql_upgrade]
tmpdir=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp

[client]
password=
user=root
port=13000
host=localhost
socket=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1.sock

[mysqltest]
ssl-ca=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/cacert.pem
ssl-cert=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/client-cert.pem
ssl-key=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/std_data/client-key.pem
skip-ssl=1

[client.1]
password=
user=root
port=13000
host=localhost
socket=/usr/local/mysql-5.1.48-osx10.6-x86_64/mysql-test/var/tmp/mysqld.1.sock

